.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #746767;
}

h1 {
  margin: 30px;
  font-family: 'Mochiy Pop One', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #63cc4e;
}

p {
  font-size: 2rem;
  color: #8e8eaa;
  font-family: 'Hachi Maru Pop', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Hachi Maru Pop', sans-serif;

}


